<web-app>

<servlet>
<servlet-name>sctxt</servlet-name>
<servlet-class>SctxtDemo</servlet-class>
</servlet>
<servlet>
<servlet-name>second</servlet-name>
<servlet-class>Second</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>sctxt</servlet-name>
<url-pattern>/SctxtDemo</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>second</servlet-name>
<url-pattern>/Second</url-pattern>
</servlet-mapping>
<context-param>
<param-name>Driver</param-name>
<param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value>
</context-param>

</web-app>
